<%= simple_form_for [:admin, @drink] do |f| %>
    <div class="flex-btwn fs">
      <div class="w50">
        <%= f.input :name %>
      </div>
    </div>
    <div class="form-group">
      <%= f.input :description %>
    </div>
    <div class="form-group">
      <%= f.input :category, collection: ["Craft Ales", "Continental Lagers", "British Ciders", "Wines from around the world"] %>
    </div>
    <div class="form-group">
      <%= f.label :photo %>
      <%= f.file_field :photo  %>
    </div>
    <%= f.button :submit, class: "btn btn-primary mt-10" %>
<% end %>


