<div class="container">
  <h1 class="tc p-3">Edit Homepage</h1>
  <%= simple_form_for(@banner) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
    <h3>Top Carousel</h3>
    <div class="row">
      <div class="col-sm-12 inherit col-md-3">
        <div class="form-inputs">
          <%= f.association :slide_one %>
          <%= f.input :slide_one_title %>
        </div>
      </div>
      <div class="col-sm-12 inherit col-md-3">
        <div class="form-inputs">
          <%= f.association :slide_two %>
          <%= f.input :slide_two_title %>
        </div>
      </div>
      <div class="col-sm-12 inherit col-md-3">
        <div class="form-inputs">
          <%= f.association :slide_three %>
          <%= f.input :slide_three_title %>
        </div>
      </div>
      <div class="col-sm-12 inherit col-md-3">
        <div class="form-inputs">
          <%= f.association :slide_four %>
          <%= f.input :slide_four_title %>
        </div>
      </div>
      <div class="col-sm-12 inherit col-md-6">
        <div class="form-inputs">
          <%= f.input :card_one_title %>
          <%= f.label :card_one_content %>
          <%= f.rich_text_area :card_one_content %>
        </div>
      </div>

      <div class="col-sm-12 inherit col-md-6">
        <div class="form-inputs">
          <%= f.association :card_one, label: "First Image" %>
          <%= f.input :card_one_image_alt_text, label: "Alt text SEO targeted keywords" %>
        </div>
      </div>
      <div class="col-sm-12 inherit col-md-6">
        <div class="form-inputs">
          <%= f.association :card_two, label: "Second Image" %>
          <%= f.input :card_two_image_alt_text, label: "Alt text SEO targeted keywords" %>
        </div>
      </div>
      <div class="col-sm-12 inherit col-md-6">
        <div class="form-inputs">
          <%= f.input :card_two_title %>
          <%= f.label :card_two_content %>
          <%= f.rich_text_area :card_two_content %>
        </div>
      </div>
      <div class="col-sm-12 inherit col-md-6">
        <div class="form-inputs">
          <%= f.input :card_three_title %>
          <%= f.label :card_three_content %>
          <%= f.rich_text_area :card_three_content %>
        </div>
      </div>
      <div class="col-sm-12 inherit col-md-6">
        <div class="form-inputs">
          <%= f.association :card_three, label: "Third Image" %>
          <%= f.input :card_three_image_alt_text, label: "Alt text SEO targeted keywords" %>
        </div>
      </div>
      <div class="col-sm-12 inherit col-md-6 offset-md-3">
        <div class="form-inputs">
          <%= f.input :bar_week, label: "Bar Monday to Friday" %>
          <%= f.input :bar_wknd, label: "Bar Saturday to Sunday" %>
          <%= f.input :kitch_wk_wraps, label: "Kitchen Panini and Wraps" %>
          <%= f.input :kitch_wk_panini, label: "Kitchen Panini only" %>
          <%= f.input :kitch_wk_panini, label: "Kitchen Pizzas" %>
          <%= f.input :kitch_wknd_pizza, label: "Sunday Pizzas" %>
        </div>
      </div>
    </div>
    <div class="form-actions pv-mid">
      <%= f.button :submit, class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
