<div class="container pb-5 pt-2">
  <h1 class="tc pt-4 mt-4"><%= @event.title %></h1>
  <h3 class="tc pt-1"><%= @event.good_title %></h3>
  <h5 class="pt-4 pb-4 tc"><%= @event.description %></h5>
  <div class="container">
    <%= @event.content %>

  </div>
</div>
<div class="container">
  <div class="row pv-big">
    <% @event.photos.each do |event| %>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 p-0">
        <div class="article-container">
          <div class="article-img-holder image" style="background-image: url(<%= url_for @event.photos.first %>)"></div>
        </div>
      </div>
    <% end %>
  </div>
</div>
