<div class="container-fluid pv-mid" style="background-color: black; min-height: 100vh;">
  <%= link_to "New Menu", new_admin_menu_path, class: "btn btn-primary" %>
  <div class="row">
    <div class="col-sm-12 col-md-8 offset-md-2">
      <h2 class="tc pb-4" style="color: white;">Today's Menu:</h2>
      <div class="tc">
        <%= render "shared/menu_card", menu: @today_menu, small: false %>
      </div>
      <br>
      <h2 class="tc pt-4" style="color: white;">Old Menus</h2>
      <% if @menus.empty? %>
        <h4>No other menus</h4>
      <% else %>
        <% @menus.each do |menu| %>
          <div class="jcc pt-3">
            <%= link_to "Use Now", use_today_admin_menu_path(menu), class: "mr-4 btn btn-primary", method: :patch %>
            <h3 style="color: white;"><%= menu.title %></h3>
            <div class="menu-last-used"><%= menu.last_used %></div>
          </div>
        <% end %>
      <% end %>

    </div>
  </div>
  <hr>
</div>

